//clases de la informacion que damos al usuario
.navBarVertical {
    background-color: rgb(99, 247, 188);
    width: 100px;
    padding: 6px;

    .ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 5px;

        .li {
            color: #f7639e;
        }
    }
}

.navBarHorizontalStart {
    background-color: rgb(99, 247, 188);
    width: 100%;
    padding: 6px;

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 5px;

        .li {
            color: #f7639e;
        }
    }
}

.navBarHorizontalCenter {
    background-color: rgb(99, 247, 188);
    width: 100%;
    padding: 6px;

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 5px;

        .li {
            color: #f7639e;
        }
    }
}

.navBarHorizontalEnd {
    background-color: rgb(99, 247, 188);
    width: 100%;
    padding: 6px;

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        gap: 5px;

        .li {
            color: #f7639e;
        }
    }
}

//estilos de la pagina

div.container-all {
    div.container-editor {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 30px;
        width: 100%;
        position: relative;

        > p {
            font-weight: bold;
            padding-left: 30px;
            width: 250px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:first-child, &:last-child {
                padding-left: 10px;
            }

            &:nth-child(2), &:nth-last-child(2) {
                padding-left: 20px;
            }
        }
    }

    div.styles-editor {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        >label {
            width: 160px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;

            > p {
                border-bottom: 2px solid;
            }

            > input {
                border: none;
                outline: none;
                background-color: transparent;
                border-radius: 5px;
            }

            &:nth-child(3) {
                > input {
                    border: 1px solid;
                }
            }
        }
    }

    div.container-renderized_html {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        > div.title-btn {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        >div.html {
            display: flex;
            flex-direction: column;
            gap: 3px;
            padding: 30px;
            width: 100%;
            position: relative;
            > span {
                font-weight: bold;
                width: 250px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding-left: 30px;
    
                &:first-child, &:last-child {
                    padding-left: 10px;
                }
    
                &:nth-child(2), &:nth-last-child(2) {
                    padding-left: 20px;
                }
            }
        } 
    }

    div.container-renderized_css {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        gap: 30px;

        > div.css-nav, 
        > div.css-ul, 
        > div.css-li {
            width: 90%;
            max-width: 400px;
            padding: 20px;

            display: flex;
            flex-direction: column;

            > div.title-btn {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
            }

            > div.css {
                width: 100%;
                display: flex;
                flex-direction: column;

                > span {
                    padding-left: 50px;

                    &:first-child,
                    &:last-child {
                        padding-left: 40px;
                    }
                }
            }
        }
    }
}
