.FigureUpText{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px;
    margin: 0 auto;


 .img {
    width: 300px;
    align-self: center;
    
}

figCaption {
    color: black;
}

}

.FigureLeftText {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 400px; 
  padding: 6px;
  margin: 0 auto;
}

.FigureRightText{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 400px;
  padding: 6px;
  margin: 0 auto;

.img {
  width: 300px;
  align-self: center; 
  
}

.figCaption {
  color: black;
  align-self: end;
 
 
}

}

