@import "../../../css/variables";

div.container-infoticket {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    & > * {
        flex-shrink: 0;
    }

    > h4 {
        margin-bottom: 10px;
        color: $colorText;
    }

    > form.infoticket {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        & > * {
            width: 100%;
        }

        > span {
            margin-bottom: 10px;
            color: $colorText;
        }

        > label {
            display: flex;
            flex-direction: column;

            > span {
                margin-bottom: 5px;
                color: $colorText;
            }

            > input,
            > textarea {
                width: 100%;
                border: none;
                outline: none;
                border-bottom: 1px solid #ccc;
                padding: 5px 0;
            }

            > textarea {
                height: 60px;
            }
        }

        > label.ticket-description {
            width: 100%;
        }

        > button {
            width: 100%;
            padding: 5px;
            border: none;
            outline: none;
            border-radius: 15px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: $bgOthers2;
            color: $bgApp;
            cursor: pointer;

            &:hover {
                background-color: $bgOthers2Hover;
                color: $bgNavFooter;
            }
        }
    }

    > div.ticket-list {
        width: 100%;
        max-width: 300px;
        height: 180px;
        margin-top: 20px;

        > ul {
            list-style: none;
            padding: 0;

            > li {

                > div.ticket-list_item-resume {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border-bottom: 1px solid #ccc;
                }

                &:last-child {
                    border-bottom: none;
                }

                .status-indicator {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-left: 10px;
                }

                .enviado {
                    background-color: orange;
                }

                .en-proceso {
                    background-color: green;
                }

                .completado {
                    background-color: gray;
                }

                > div.ticket-details {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-top: 20px;
                    height: 100%;
            
                    > h2 {
                        margin-bottom: 10px;
                    }
            
                    > p {
                        margin-bottom: 5px;
                    }

                    > img {
                        width: 100%;
                    }

                    > button {
                        align-self: center;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
.ticket-alert-overlay {
    position: fixed;
    //top: 50%;
    left:6px;
    bottom: 90px;
    //transform: translate(-50%, -50%);
    background-color: $bgButtonsSpecial;
    color: $bgApp;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 8px;
    z-index: 100;
    // La animación se omite ya que el cierre es manual
  
    .close-alert {
      position: absolute;
      top:5px;
      right: 5px;
      background-color:transparent;
      color:$bgApp;
      border: none;
      font-size: 15px;
      border-radius: 50%;
      cursor: pointer;
      padding: 2px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;// Ajusta este valor según sea necesario
    }
  }