@import '../../../css/_variables.scss';


.divPColumn {
    background-color: $bgOthers2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 100px;
    height: 150px;
    .p {
        color: $bgApp;
  
  
    }
  }
  
  .divPRow {
    background-color: $bgOthers2;
    width: 150px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    .p {
        color: $bgApp;
  
  
  
    }
  }