@import '../../../css/_variables.scss';


header.container-title-links {
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 20px;
    background-color: $bgNavFooter;

    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $bgNavFooter;

    > a.title-logo {
        width: 100px;
        height: 100%;
        position: relative;
        overflow: hidden;
        transform: translate(20px);

        > h1 {
            position: absolute;
            visibility: hidden;
            pointer-events: none;
            z-index: 0;
            width: 0px;
            height: 0px;
        }

        > img {
            width: 100%;
            height: 100%;
            transition: all ease .5s;
        }

        &:hover {
            > img {
                transform: scale(1.1);
                object-fit: cover;
            }
        }
    }

    > nav.list-links {
        width: calc(100% - 100px);
        height: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        > ul.container-items {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            > li {
                color: #fff;
                text-decoration: none;
                position: relative;
                cursor: pointer;
                transform: scale(0.9);
                
                > a {
                    color: #fff;
                    text-decoration: none;
                }

                &.toggle-menu {
                    display: none;

                    > div {
                        height: 2px;
                        width: 100%;
                        background-color: $bgApp;
                        border-radius: 5px;
                        transition: all .5s;
                        transform-origin: left;
                    }

                    &.open > div:first-child {
                        transform: rotate(45deg);
                    }

                    &.open > div:nth-child(2) {
                        opacity: 0;
                    }

                    &.open > div:last-child {
                        transform: rotate(-45deg);
                    }
                }

                &:hover {
                    transition: all ease .5s;
                    transform: scale(1);
                    
                    &::before {
                        transition: all ease .5s;
                        width: 100%;
                    }
                }
            }
        }
    }
}

ul.container-items-responsive {
    width: 30%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    pointer-events: none;

    position: absolute;
    visibility: hidden;
    top: 60px;
    right: -600px;
    z-index: 10;

    background-color: $bgApp;
    transition: all ease-in-out .5s;
    border: 1px solid $bgNavFooter;
    border-top: none;
    border-right: none;
    backdrop-filter: blur(20px);
    background-color: #ffffff83;

    border-bottom-left-radius: 15px;

    &.show {
        visibility: visible;
        pointer-events: auto;
        right: 0px;
    }

    > li {
        cursor: pointer;
        transform: scale(0.9);
        > a {
            color: $bgNavFooter;
            text-decoration: none;
        }
        &:hover {
            transform: scale(1);
            transition: all ease .5s;
        }
        
    }

    > div.separator-links {
        width: 80%;
        height: 1px;
        background-color: $bgNavFooter;
    }
}

@media (max-width: 575.98px) {
    header.container-title-links {
        height: 60px;
        overflow-y: hidden;

        > a.title-logo {
            height: 125%;

        }

        > nav.list-links {
            > ul.container-items {
                > li {
                    display: none;

                    &.toggle-menu {
                        display: flex;
                        flex-direction: column;
                        width: 2.3rem;
                        height: 2.3rem;
                        gap: 0.65rem;
                        border: 0;
                        background: transparent;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
