@import '../../../../css/_variables.scss';


div.container-login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .link-register{
        text-decoration: none;
        color: $colorText;
        a{
            text-decoration: none;
            color : $colorText;
            &:hover{
                text-decoration: underline;
            }
        }
    }


    >div.div-login {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $bgOthers;
        border: 2px solid $colorBorders;
        border-radius: 15px;
        padding: 30px 0;
        >span.linki-register{
            color:$colorText;
        }

        >h2.title-login{
            margin-bottom: 20px;
            color: $colorText;
            font-size: 2em;
        }

        >form.form-login{
            display: flex ;
            flex-direction: column;
            align-items: center;
            margin: 4PX;
            gap: 5px;
            >div{
                width: 100%;
                max-width: 300px;
                padding: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                >input.input-login{
                    padding: 5px;
                    border: none;
                    outline: none;
                }
                >p{
                    width: 100%;
                }
                >span {
                    width: 100%;
                    padding: 2px 0;
                    text-decoration: underline;
                    cursor: pointer;
                    color: $bgApp;
                    font-size: 12px;
                }
            }

            button{
                width: 50%;
                background-color: $bgButtons;
                margin-top: 20px;
                margin-bottom: 10px;
                height: 30px;
                color: $bgApp;
                border-radius: 15px;
                border: none;
                outline: none;
                cursor: pointer;
            }
            button:hover {
                background-color: $bgApp;
                color: $bgButtons;
                transition: all ease 0.5s;
            }
            p.msgsuccess{
                padding-top: 10px;
                text-align: center;
                width: 60%;
                display: flex;
                justify-content: center;
                color: rgb(241, 197, 52);
                font-weight: bold;  
            }
            p.msgerror{
                padding-top: 10px;
                text-align: center;
                width: 60%;
                display: flex;
                justify-content: center;
                color: rgb(241, 197, 52);
                font-weight: bold;

            }
            p.msgpasserror{
                padding-top: 10px;
                text-align: center;
                width: 60%;
                display: flex;
                justify-content: center;
                color: rgb(241, 197, 52);
                font-weight: bold;

            }
            p.msgmailerror{
                padding-top: 10px;
                text-align: center;
                width: 60%;
                display: flex;
                justify-content: center;
                color: rgb(241, 197, 52);
                font-weight: bold;

            }
        
    }


}

}



@media (max-width: 320px){
    p.msgerror{
        padding-top: 10px 20px 20px 0;
        display: flex;
        justify-content: center;

    }
}
