@import "../../../css/_variables.scss";

section.my-area {
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  aside.container-aside-mydesigns {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: $colorEffects;
    height: 100%;
    padding-top: 20px;

    > button {
      margin-bottom: 30px;
      padding: 5px 10px;
      overflow: hidden;
      width: 216px;
      border-radius: 15px;
      background-color: $bgButtonsSpecial;
      border: none;
      outline: none;
      color: $bgApp;

      &:hover {
        cursor: pointer;
        transition: all ease .5s;
        background-color: $bgButtonsSpecialHover;
        color: $bgApp;
      }
    }
  }


  div.container-mydesigns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 50px 50px;
    gap: 100px;

    >div.designs-area{
      background-color: $bgApp;
      width: 600px;
      height: 600px;
      border: 2px solid $bgButtons;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
        >h2.h2-designs-area{
          color: $bgOthers2;
          font-size: 3em;

        }
        >h3.h3-designs-area{
          color: $bgButtons;
          font-size: 1.5em;
          
        }
        >p.p-designs-area{
          color: $bgButtons;
          font-size: 1.5em;
          
        }
        >a.btn-catalogo{
          text-decoration: none;
          color : $bgApp;
          border-radius: 15px;
          align-items: center;
          display: flex;
          justify-content: center;
          background-color: $bgOthers2;
          width: 20%;
          height: 7%;
          &:hover{
              background-color: $bgOthers2Hover;
              color: $bgNavFooter;
              transition: all ease 0.5s;

          }
        }
    }

    > div.nav {
      border: 1px solid $bgNavFooter;
        &:hover {
        transition: all ease 0.5s;
        box-shadow: 3px 3px 10px 0 $colorNav;
        }
    }

    > div.div {
      border: 1px solid $bgNavFooter;
      &:hover {
        transition: all ease 0.5s;
        box-shadow: 3px 3px 10px 0 $colorDiv;
        }
    }

    > div.footer {
      border: 1px solid $bgNavFooter;
      &:hover {
        transition: all ease 0.5s;
        box-shadow: 3px 3px 10px 0 $colorFooter;
        }
    }

    > div.form {
      border: 1px solid $bgNavFooter;
      &:hover {
        transition: all ease 0.5s;
        box-shadow: 3px 3px 10px 0 $colorForm;
        }
    }

    > div.section {
      border: 1px solid $bgNavFooter;
      &:hover {
        transition: all ease 0.5s;
        box-shadow: 3px 3px 10px 0 $colorSection;
        }
    }

    > div.figure {
      border: 1px solid $bgNavFooter;
      &:hover {
        transition: all ease 0.5s;
        box-shadow: 3px 3px 10px 0 $colorFigure;
        }
    }

    > div.buton {
      border: 1px solid $bgNavFooter;
      &:hover {
        transition: all ease 0.5s;
        box-shadow: 3px 3px 10px 0 $colorButton;
        }
    }

    > div.design {
      width: 250px;
      height: 250px;
      border-radius: 15px;
      position: relative;

      > button.deleteButton {
        position: absolute;
        top: -5px;
        right: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        display: flex;
        align-items: flex-start;
      }

      > button.deleteButton:hover {
        background-color: darkred;
      }

      > a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: $bgNavFooter;

        height: 100%;

        > h3 {
          padding: 10px;
          overflow: hidden;
        }

        > div.identifier {
          height: 20px;
        }

        > div.nav {
          background-color: $colorNav;
        }
    
        > div.div {
          background-color: $colorDiv;
        }
    
        > div.footer {
          background-color: $colorFooter;
        }
    
        > div.form {
          background-color: $colorForm;
        }
    
        > div.section {
          background-color: $colorSection;
        }
    
        > div.figure {
          background-color: $colorFigure;
        }
    
        > div.buton {
          background-color: $colorButton;
        }

        > div.visualizer {
          width: 100%;
          height: 250px;
          overflow-y: hidden;
          overflow-x: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          > .formVerticalText, > .formVerticalCheckbox, > .formVerticalRadio, > .formVerticalColor  {
            background-color: rgb(99, 247, 188);
            width: 200px;
            padding: 6px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
        
            > .form-div{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
        
            > .label {
                color: #f7639e;
            }
        
            > .button {
                color: rgb(99, 247, 188);
                background-color: white;
            }
        }

          > div.footerVertical {
              background-color: rgb(99, 247, 188);
              width: 100%;
              padding: 6px;
          
              > .ul {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  gap: 5px;
          
                  > .li {
                      color: #f7639e;
                  }
              }
          }

          > div.footerHorizontal {
              background-color: rgb(99, 247, 188);
              width: 100%;
              padding: 6px;
          
              > .ul {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  width: 100%;
          
                  > .li {
                      color: #f7639e;
                  }
              }
          }
          > div.footerRow {
            background-color: rgb(99, 247, 188);
            width: 100%;
            padding: 6px;
          
            .ul {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              width: 100%;
          
              .li {
                color: #f7639e;
              }
            }
          }
          > div.divPColumn {
              background-color: rgb(99, 247, 188);
              width: 100px;
              padding: 6px;
              display: flex;
              flex-direction: column;
              justify-content: center;
          
              > .p {
                  color: #f7639e;
          
          
              }
          }

          > figure.FigureUpText{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 6px;
            margin: 0 auto;
            
            > .img {
                width: 300px;
                align-self: center;
                
            }
            
            > .figCaption {
                color: black;
            }
        
        }

        .FigureLeftText {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          width: 400px; 
          padding: 6px;
          margin: 0 auto;
        }
        
        .FigureRightText{
          display: flex;
          flex-direction: column;
          align-items: end;
          width: 400px;
          padding: 6px;
          margin: 0 auto;
        
        > .img {
          width: 300px;
          align-self: center; 
          
        }
        
        > .figCaption {
          color: black;
          align-self: end;
         
         
        }
        
        }

        .navBarVertical {
          background-color: rgb(99, 247, 188);
          width: 100px;
          padding: 6px;
      
          > .ul {
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 100%;
              gap: 5px;
      
              > .li {
                  color: #f7639e;
              }
          }
      }
      
      .navBarHorizontalStart {
          background-color: rgb(99, 247, 188);
          width: 100%;
          padding: 6px;
      
          > .ul {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              width: 100%;
              gap: 5px;
      
              > .li {
                  color: #f7639e;
              }
          }
      }
      
      .navBarHorizontalCenter {
          background-color: rgb(99, 247, 188);
          width: 100%;
          padding: 6px;
      
          > .ul {
              display: flex;
              flex-direction: row;
              justify-content: center;
              width: 100%;
              gap: 5px;
      
              > .li {
                  color: #f7639e;
              }
          }
      }
      
      .navBarHorizontalEnd {
          background-color: rgb(99, 247, 188);
          width: 100%;
          padding: 6px;
      
          > .ul {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              width: 100%;
              gap: 5px;
      
              > .li {
                  color: #f7639e;
              }
          }
      }

          > div.sectionColumn {
            background-color: rgb(99, 247, 188);
            width: 100%;
            padding: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
            gap: 30px;
          
          
            > .article {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border: 2px solid black;
              gap: 10px;
          
              > .h2 {
                color: #f7639e;
              }
              > .p {
                color: orange;
              }
            }
          }

          > div.SectionColumnSpace {
            background-color: rgb(55, 33, 180);
            width: 100%;
            padding: 6px;
            display: flex;
            justify-content: center;
          
            > .article {
              display: flex;
              flex-direction: column;
              align-items: center;
              border: 2px solid black;
          
              width: 100%;
              gap: 5px;
          
              > .h2 {
                color: #e4fd00;
              }
              > .p {
                color: rgb(206, 27, 131);
              }
            }
          }

          > div.SectionRowContract {
            background-color: rgb(58, 14, 56);
            width: 100%;
            padding: 6px;
          
            > .article {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 100px;
              height: 70px;
              border: 2px solid black;
          
              width: 100%;
              gap: 5px;
          
              > .h2 {
                color: #4fb43b;
              }
              > .p {
                color: rgb(189, 71, 169);
              }
            }
          }

          > div.sectionRow {
            background-color: rgb(206, 53, 53);
            width: 100%;
            padding: 6px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            gap: 10px;

            > .article {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              border: 2px solid black;
              gap: 5px;
              padding: 5px;
              width: 150px;

              > .h2 {
                color: #3b92b4;
              }
              > .p {
                color: rgb(44, 167, 20);
              }
            }
          }
        

        //   > button.btn-inset {
        //     padding: 5px;
        //     cursor: pointer;
    
        //     &:hover {
        //         transition: all ease .5s;
        //         box-shadow: inset 3px 3px 5px 0px rgba(255, 255, 255, 0.5), 
        //                     inset -3px -3px 5px 0px rgba(255, 255, 255, 0.5);
        //         transform: scale(0.95);
        //     }
            
        // }
    
        // > button.btn-outset {
        //     padding: 5px;
        //     cursor: pointer;
    
        //     &:hover {
        //         transition: all ease .5s;
        //         box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5), 
        //                     -3px -3px 5px 0px rgb(255, 135, 135);
        //         transform: scale(1.05);
        //     }
            
        // }
      }

      > div.visualizer.div, > div.visualizer.form, > div.visualizer.nav, > div.visualizer.button, > div.visualizer.section, > div.visualizer.figure, > div.visualizer.footer {
        background-color: $visualizerBack;
      }
    }
    
    // .btn-catalogo {
    //   text-decoration: none;
    //   color: $colorText; 
    //   background-color: $bgButtons; 
    //   padding: 15px 30px; 
    //   font-size: 18px; 
    //   border: 1px solid transparent; 
    //   border-radius: 5px; 
    //   transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
      
    //   &:hover {
    //     background-color: white; 
    //     color: turquoise; 
    //     border-color: turquoise; 
    //   }
    // }
  }
}
}

section.my-area-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  section.profile-container-myarea {
    div.profile-id-image-container {
      top: 80px;
      width: 100px;
      height: 100px;
    }

    div.profile-info {
      width: calc(100% - 100px);
      justify-content: center;
      >h3 {
        font-size: 22px;
      }
      > h4 {
        font-size: 20px;

        &.profile-id-email {
          font-size: 18px;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  section.my-area-mobile {
    
    > section.profile-container-myarea {
      > div.profile-id-image-container {
        width: 70px;
        height: 70px;
        top: 100px;
      }
  
      > div.profile-info {
        width: calc(100% - 70px);
        justify-content: flex-start;
        >h3 {
          font-size: 18px;
        }
        > h4 {
          font-size: 16px;
  
          &.profile-id-email {
            font-size: 10px;
          }
        }
  
      }
    }
  }
  
}


@media (max-width: 576px) {
  section.my-area-mobile {
    height: calc(100vh - 120px)
  }
}


  