section.profile-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & > *{
        flex-shrink: 0;
    }

    > img.edit-icon {
        width: 30px;
        height: 30px;
    }
}