/* Default styles */
.payments-container {
    max-width: 700px;
    margin: auto; 
    position: absolute;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

       
}
  

.container-logoPremium{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    height: 100px;
    max-height: 300px;
    overflow-y: hidden;
    

    

    img {
        
        width: 80%;
        object-fit: cover;
        
        
    }
}


form.form-payment {
    display: flex;
    flex-direction: column;
    >button[type="submit"] {
        background-color: #252729;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    >button[type="submit"]:hover {
        background-color: #0056b3;
    }
    >p.payment{
        margin-top: 20px;
        color:#555;
        text-align: center;
    }
    label {
        margin-bottom: 10px;
    }
    input.Name {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    input.card {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;   
    }
    input[type="text"] {
        padding-right: 40px; 
    }
    .input-card-container {
        position: relative;
        display: inline-block;
        .icons {
            position: absolute;
            top: 50%;
            right: 10px; 
            transform: translateY(-50%);
        }
          
        .icons i {
            margin-left: 5px;
            font-size: 18px; 
        }
    }
    .form-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;   
        input.expiry {
            width: 100%; 
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
          }
        
        
        
          input.cvc {
            width: 100%; 
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
          } 
    }
    .location-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .country-selector {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        
        }
        
        
        .postal-code {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
    }
 
}

  








/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .payments-container {
        width: 75%;
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {
    input {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 8px 16px;
    }
}




