$sizeText: 14px;
$sizeTitles: 16px;

$paddingLeft10: 10px;

$paddingLeft20: 20px;

$colorNav: rgb(81 181 243);

$colorDiv: rgb(77 198 77);

$colorFooter: rgb(226 232 94);

$colorForm: rgb(216 69 69);

$colorSection: rgb(212 85 212);

$colorFigure: rgb(65 232 211);

$colorButton: rgba(255, 165, 0, 0.5);

$bgNavFooter: #3b4446;
$bgFalse: rgb(19,19, 19);

$bgOthers: #525e61;
$bgOthers2: #166a8f;
$bgOthers2Hover: #86b7cd;

$colorEffects: #7b868a;

$colorBorders: #777;

$bgButtonsSpecial: #2dbe60;
$bgButtonsSpecialHover: #3bd671;

$bgButtonsDelete: #893f3f;
$bgButtonsDeleteHover: #b42222;
$bgButtons: #2facb2;

$colorText: #d7dcdd;

$visualizerBack: #ebebeb;
$bgApp: #eff2f3;

