$sizeText: 14px;
$sizeTitles: 16px;

$paddingLeft10: 10px;

$paddingLeft20: 20px;

$colorNav: rgba(255, 199, 199, 0.5);

$colorDiv: rgb(254, 226, 159, 0.5);

$colorFooter: rgb(172, 255, 151, 0.5);

$colorForm: rgb(135, 255, 255, 0.5);

$colorSection: rgb(141, 135, 255, 0.5);

$colorFigure: rgba(253, 135, 255, 0.5);

$colorButton: rgb(255, 135, 135, 0.5);

$bgNavFooter: #3b4446;
$bgFalse: rgb(19,19, 19);

$bgOthers: #525e61;
$bgOthers2: #166a8f;
$bgOthers2Hover: #86b7cd;

$colorEffects: #7b868a;

$colorBorders: #777;

$bgButtonsSpecial: #2dbe60;
$bgButtonsSpecialHover: #3bd671;

$bgButtonsDelete: #893f3f;
$bgButtonsDeleteHover: #b42222;
$bgButtons: #2facb2;

$colorText: #d7dcdd;


$bgApp: #eff2f3;

