/*colores segun etiquetas*/


$colorNav: rgba(255, 199, 199);

$colorDiv: rgb(254, 226, 159);

$colorFooter: rgb(172, 255, 151);

$colorForm: rgb(135, 255, 255);

$colorSection: rgb(141, 135, 255);

$colorFigure: rgb(253, 135, 255);

$colorButton: rgb(255, 135, 135);







