* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


body {
  height: 100vh;
}
body > div#root {
  height: 100vh;
}
body > div#root div.container-all {
  position: relative;
  overflow-y: scroll;
  padding: 80px 0;
  height: 100vh;
}

div.container-pages-default-styles {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  padding: 50px 0;
}
div.container-pages-default-styles > * {
  border: 2px solid;
  border-radius: 15px;
}
div.container-pages-default-styles div.container-editor {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 30px;
  position: relative;
}
div.container-pages-default-styles div.container-editor > p {
  font-weight: bold;
}
div.container-pages-default-styles div.styles-editor {
  width: 350px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
div.container-pages-default-styles div.styles-editor > label {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
div.container-pages-default-styles div.styles-editor > label > p {
  width: 80%;
  text-align: center;
  border-bottom: 2px solid;
  flex-shrink: 0;
}
div.container-pages-default-styles div.styles-editor > label > input {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
}
div.container-pages-default-styles div.styles-editor > label:nth-child(3) > input {
  border: 1px solid;
}
div.container-pages-default-styles div.container-renderized_html {
  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
div.container-pages-default-styles div.container-renderized_html > div.title-btn {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
div.container-pages-default-styles div.container-renderized_html > div.html {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 30px;
  width: 100%;
  position: relative;
}
div.container-pages-default-styles div.container-renderized_html > div.html > span {
  font-weight: bold;
  width: 250px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
}
div.container-pages-default-styles div.container-renderized_html > div.html > span:first-child, div.container-pages-default-styles div.container-renderized_html > div.html > span:last-child {
  padding-left: 10px;
}
div.container-pages-default-styles div.container-renderized_html > div.html > span:nth-child(2), div.container-pages-default-styles div.container-renderized_html > div.html > span:nth-last-child(2), div.container-pages-default-styles div.container-renderized_html > div.html > span:nth-child(5), div.container-pages-default-styles div.container-renderized_html > div.html > span:nth-child(6), div.container-pages-default-styles div.container-renderized_html > div.html > span:nth-child(9), div.container-pages-default-styles div.container-renderized_html > div.html > span:nth-child(10) {
  padding-left: 20px;
}
div.container-pages-default-styles div.container-renderized_visual {
  width: 350px;
  padding: 10px;
}
div.container-pages-default-styles div.container-renderized_css {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  border: none;
}
div.container-pages-default-styles div.container-renderized_css > div.css-section,
div.container-pages-default-styles div.container-renderized_css > div.css-article,
div.container-pages-default-styles div.container-renderized_css > div.css-h2,
div.container-pages-default-styles div.container-renderized_css > div.css-p {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 15px;
}
div.container-pages-default-styles div.container-renderized_css > div.css-section > div.title-btn,
div.container-pages-default-styles div.container-renderized_css > div.css-article > div.title-btn,
div.container-pages-default-styles div.container-renderized_css > div.css-h2 > div.title-btn,
div.container-pages-default-styles div.container-renderized_css > div.css-p > div.title-btn {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
div.container-pages-default-styles div.container-renderized_css > div.css-section > div.css,
div.container-pages-default-styles div.container-renderized_css > div.css-article > div.css,
div.container-pages-default-styles div.container-renderized_css > div.css-h2 > div.css,
div.container-pages-default-styles div.container-renderized_css > div.css-p > div.css {
  width: 100%;
  display: flex;
  flex-direction: column;
}
div.container-pages-default-styles div.container-renderized_css > div.css-section > div.css > span,
div.container-pages-default-styles div.container-renderized_css > div.css-article > div.css > span,
div.container-pages-default-styles div.container-renderized_css > div.css-h2 > div.css > span,
div.container-pages-default-styles div.container-renderized_css > div.css-p > div.css > span {
  padding-left: 50px;
}
div.container-pages-default-styles div.container-renderized_css > div.css-section > div.css > span:first-child, div.container-pages-default-styles div.container-renderized_css > div.css-section > div.css > span:last-child,
div.container-pages-default-styles div.container-renderized_css > div.css-article > div.css > span:first-child,
div.container-pages-default-styles div.container-renderized_css > div.css-article > div.css > span:last-child,
div.container-pages-default-styles div.container-renderized_css > div.css-h2 > div.css > span:first-child,
div.container-pages-default-styles div.container-renderized_css > div.css-h2 > div.css > span:last-child,
div.container-pages-default-styles div.container-renderized_css > div.css-p > div.css > span:first-child,
div.container-pages-default-styles div.container-renderized_css > div.css-p > div.css > span:last-child {
  padding-left: 40px;
}/*# sourceMappingURL=app.css.map */