@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Robot', sans-serif;
  color: $bgNavFooter;
  font-size: $sizeText;
}
::-webkit-scrollbar{width: 0px}
  ::-webkit-scrollbar-thumb{background: transparent;}

//estilos de la pagina

body {
  height: 100vh;
  background-color: $bgApp;

  > div#root {
    height: 100vh;

    div.container-all {
      position: relative;
      padding: 80px 0;
      height: 100vh;
      //overflow-y: hidden;
    }
  }
}

div.container-pages-default-styles {
  width: 100%;
  height: calc(100vh - 160px);

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  overflow-y: scroll;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 30px;

  &.hidden {
    overflow: hidden;
  }

  > div.styles-editor {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: $bgOthers2;
    border-radius: 15px;

    > div.container-label {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
      gap: 20px;
      overflow: visible;

      input {
        cursor: pointer;
        width: 35px;
      }

      > label {
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        overflow: visible;

        > p {
          width: 80%;
          text-align: center;
          // border-bottom: 2px solid;
          flex-shrink: 0;
          color: $colorText;
        }

        > input {
          border: none;
          border-bottom: 1px solid $colorText;
          outline: none;
          background-color: transparent;
          color: $colorText;

          &[type="color"] {
            border: none;
          }

          > span {
            color: $colorText;
            transform: translateY(4px);
          }
        }

        > div {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          gap: 5px;
          overflow: visible;
          > input {
            border: none;
            border-bottom: 1px solid $colorText;
            outline: none;
            background-color: transparent;
            color: $colorText;

            &[type="color"] {
              border: none;
            }
          }

          > span {
            color: $colorText;
            transform: translateY(4px);
          }
        }
      }
    }

    > span {
      width: 100%;
      max-width: 300px;
      padding: 5px;
      text-align: center;
      background-color: $bgButtons;
      border-radius: 15px;
      color: $bgApp;

      &:hover {
        cursor: pointer;
        transition: all ease 0.5s;
        background-color: $bgApp;
        color: $bgButtons;
      }
    }
  }

  > button.no-visual {
      width: 100%;
      max-width: 150px;
      padding: 5px 10px;
      text-align: center;
      background-color: $bgButtons;
      border-radius: 15px;
      flex-shrink: 0;
      border: none;
      color: $bgApp;
      position: relative;

      &::after {
        content: '';
          width: 100%;
          height: 100%;
          
          position: absolute;
          top: 0;
          left: 0;
          
          background-color: rgba(80, 80, 80, 0.764);
          transition: all ease .5s;
      }

      &.btn-visual {
        width: 100%;
        max-width: 150px;
        padding: 5px 10px;
        text-align: center;
        background-color: $bgOthers2;
        border-radius: 15px;
        flex-shrink: 0;
        border: none;
        color: $bgApp;

        &::after {
          content: '';
          width: 100%;
          height: 0;
          transition: all ease .5s;
        }

        &:hover {
          cursor: pointer;
          transition: all ease 0.5s;
          background-color: $bgOthers2Hover;
          color: $bgNavFooter;
        }
      }
  }

  > div.container-containers {
    width: 90%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    > div.container-editor {
      width: 100%;
      max-width: calc(50% - 20px);
      height: 300px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      padding: 30px;
      background-color: $bgOthers2;
      border-radius: 15px;
      position: relative;

      > button.btn-href {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        border: none;
        outline: none;
        background-color: $colorText;
        color: $bgNavFooter;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
          transition: all ease 0.5s;
          background-color: $bgNavFooter;
          color: $colorText;
        }
      }
      

      > div {
        padding: 20px;
        background-color: rgb(19, 19, 19);
        border-radius: 15px;
        p {
          font-weight: bold;
          color: $colorText;
          font-family: 'Source Code Pro', sans-serif;

          &.padding-left-10 {
            padding-left: $paddingLeft10;
          }

          &.padding-left-20 {
            padding-left: $paddingLeft20;
          }

          > input {
            border: none;
            outline: none;
            color: $bgApp;
            padding: 3px 3px 1px;
            background-color: transparent;
            border-bottom: 1px solid $colorText;
            &.input-img {
              margin-left: 9px;
            }
          }
        }
      }

      > span {
        width: 100%;
        max-width: 300px;
        padding: 5px;
        text-align: center;
        background-color: $bgButtons;
        border-radius: 15px;
        flex-shrink: 0;
        color: $bgApp;

        &:hover {
          cursor: pointer;
          transition: all ease 0.5s;
          background-color: $colorText;
          color: $bgButtons;
        }
      }


    }

    > div.container-render {
      width: 100%;
      max-width: calc(50% - 20px);
      height: 300px;
      position: relative;

      & > * {
        position: absolute;
        border-radius: 15px;
      }
      > div.container-renderized_html {
        width: 100%;
        height: 300px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        top: 0;
        left: 0;
        z-index: 3;

        background-color: $bgOthers2;
        opacity: 0;
        transform: scale(0);

        > div.title-btn {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center;
          padding: 10px;

          > button {
            padding: 5px 10px;
            background-color: $bgButtons;
            border-radius: 15px;
            border: none;
            outline: none;
            color: $bgApp;

            &:hover {
              cursor: pointer;
              transition: all ease 0.5s;
              background-color: $bgApp;
              color: $bgButtons;
            }
          }

          > h4 {
            color: $bgApp;
          }
        }

        > div.html {
          width: 80%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 3px;
          background-color: $bgFalse;
          border-radius: 15px;
          
          > span {
            width: 100%;
            text-overflow: ellipsis;
            font-weight: bold;
            padding-left: $paddingLeft10;
            color: $colorText;
            font-family: 'Source Code Pro';

            &:first-child,
            &:last-child {
              padding-left: 0;
            }

            &.section-h2,
            &.section-p {
              padding-left: $paddingLeft20;
            }
          }
        }

        &.show {
          transition: all ease 1s;
          transform: scale(1);
          opacity: 1;
        }
      }

      > div.container-renderized_visual {
        width: 100%;
        height: 300px;

        padding: 10px;

        top: 0;
        left: 0;
        z-index: 1;

        background-color: $bgNavFooter;

        &.hidden {
          visibility: hidden;
        }

        > figure.figure {
          background-color: $bgApp;
          gap: 20px;
          > img {
            width: 220px;
            height: 220px;
          }
        }
      }

      > div.container-renderized_css {
        width: 100%;
        height: 300px;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        gap: 30px;

        overflow-y: scroll;

        top: 0;
        left: 0;
        z-index: 3;
        opacity: 0;
        transform: scale(0);

        border: none;
        background-color: $bgOthers2;
        padding: 20px;

        &.show {
          transition: all ease 1s;
          transform: scale(1);
          opacity: 1;
        }

        > div.css-nav,
        > div.css-btn,
        > div.css-ul,
        > div.css-li,
        > div.css-fig,
        > div.css-figcaption,
        > div.css-img,
        > div.css-div,
        > div.css-section,
        > div.css-article,
        > div.css-h2,
        > div.css-p {
          width: 350px;
          padding: 20px;

          display: flex;
          flex-direction: column;

          > div.title-btn {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            padding: 10px;

            > button {
              padding: 5px 10px;
              background-color: $bgButtons;
              border-radius: 15px;
              border: none;
              outline: none;
              color: $bgApp;

              &:hover {
                cursor: pointer;
                transition: all ease 0.5s;
                background-color: $bgApp;
                color: $colorText;
              }
            }

            > h4 {
              color: $colorText;
            }
          }

          > div.css {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $bgFalse;
            padding: 20px;
            border-radius: 15px;

            > span {
              padding-left: 50px;
              color: $colorText;
              font-family: 'Source Code Pro';

              &:first-child,
              &:last-child {
                padding-left: 40px;
              }
            }

            > p {
              padding-left: 50px;

              &:first-child,
              &:nth-last-child(2) {
                padding-left: 40px;
              }
            }

            > div.container-hover {
              width: 100%;
              display: flex;
              flex-direction: column;
              padding-top: 30px;

              > p {
                padding-left: 50px;
  
                &:first-child,
                &:last-child {
                  padding-left: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

  > div.button-save-designs-container {
    display: grid;
    place-items: center;
    width: 100%;

  }
  >a.premiumsavedesign{
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    width: 150px;
    padding: 5px 10px;
    overflow: hidden;
    border-radius: 15px;
    background-color: $bgButtonsSpecial;
    color: $bgApp;
  }
}

@media screen and (max-width: 1023px) {
  div.container-pages-default-styles {
    gap: 20px;
    > div.container-containers {
      gap: 20px;
      > div.container-render {
        max-width: none;
      }

      > div.container-editor {
        max-width: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  body {
    > div#root {
      div.container-all {
        padding: 60px 0;
      }
    }
  }
  div.container-pages-default-styles {
    height: calc(100vh - 120px);
  }
}
