//clases de la informacion que damos al usuario
.navBarVertical {
    background-color: rgb(99, 247, 188);
    width: 100px;
    padding: 6px;

    .ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 5px;

        .li {
            color: #f7639e;
        }
    }
}

.navBarHorizontalStart {
    background-color: rgb(99, 247, 188);
    width: 100%;
    padding: 6px;

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 5px;

        .li {
            color: #f7639e;
        }
    }
}

.navBarHorizontalCenter {
    background-color: rgb(99, 247, 188);
    width: 100%;
    padding: 6px;

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 5px;

        .li {
            color: #f7639e;
        }
    }
}

.navBarHorizontalEnd {
    background-color: rgb(99, 247, 188);
    width: 100%;
    padding: 6px;

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        gap: 5px;

        .li {
            color: #f7639e;
        }
    }
}