/* Description.scss */
.description-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 20px;
    width: 100%;  
    gap: 50px;
    background-color: rgb(79, 110, 175);
    overflow: hidden;

    >div.text-content{
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      
      >h2.title{
        font-size: 18px;
        color: black;
        font-weight: bold;
      }
        >a{
          font-family: system-ui;
          font-weight: bold;
          font-size: 20px;
          text-decoration: none;
          color: white;
          width: 200px;
          height: 60px;
          background-color: black;
          border-radius: 4px;
          display: grid;
          place-items: center;

          &:hover{
            background-color: rgb(255, 255, 255);
            color: black;
            border: 1px solid rgb(0, 0, 0);
            transition: all ease .8s;
            cursor: pointer;
          }
        }

        >h2{
          font-size: 25px;
          font-family: system-ui;
          color: white;
        }
      
    }      
    .video-content  {
      width: 100%;
      max-width: 500px;
      overflow: hidden;

      > video.video-content{
        object-fit: cover;
        pointer-events: none;
        border-radius: 10px;
      }
    }
  }


  @media (max-width: 912px){
    .description-container{
      gap: 20px;
      >div.text-content{
        
        >h2,>p{
          flex-shrink: 0;
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: 576px){
    .description-container{
      gap: 20px;
      >div.text-content{
        
        >p{
          display: none;
        }
      }
    }
  }
