@import '../../../css/_variables.scss';

footer.container-admins {
    width: 100%;
    height: 80px;
    background-color: $bgNavFooter;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

@media (max-width: 575.98px) {
    footer.container-admins {
        height: 60px;
        overflow-y: hidden;
    }
}